contourpy==1.2.1
cycler==0.12.1
Cython @ file:///Users/runner/miniforge3/conda-bld/cython_1711834339378/work
filelock==3.13.4
fonttools==4.51.0
fsspec==2024.3.1
imageai==3.0.3
iniconfig==2.0.0
Jinja2==3.1.3
keras-layer-normalization==0.16.0
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.8.4
mock==5.1.0
mpmath==1.3.0
networkx==3.3
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1707225421156/work/dist/numpy-1.26.4-cp312-cp312-macosx_11_0_arm64.whl#sha256=011d57633d659db8280a5811d62d0c5a615719a6d7cbd46a04f6ffce0c2a7db3
opencv-python==4.9.0.80
packaging==24.0
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1712154527146/work
pluggy==1.4.0
pyparsing==3.1.2
pytest==8.1.1
python-dateutil==2.9.0.post0
scipy==1.13.0
setuptools==69.2.0
six==1.16.0
sympy==1.12
torch==2.2.2
torchvision==0.17.2
tqdm==4.66.2
typing_extensions==4.11.0
wheel==0.43.0
